{% extends 'main/base.html' %}
{% block title %}О нас{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title mb-3">О библиотеке</h2>
            <p class="card-text">
                Добро пожаловать в нашу электронную библиотеку! Здесь вы можете находить книги разных жанров,
                читать онлайн или загружать их в формате PDF/EPUB, а также управлять своим личным кабинетом.
            </p>

            <p class="card-text">
                Наша цель — сделать чтение доступным каждому: от классической литературы до современных научных изданий.
            </p>

            <hr>

            <h5 class="card-subtitle mb-2 text-muted">Руководитель проекта</h5>
            <p class="card-text">
                © 2025 Причислова Дарья Евгеньевна
            </p>
        </div>
    </div>
</div>
{% endblock %}
