{% extends 'main/base.html' %}
{% block content %}
<h2>Личный кабинет</h2>

{% if user.is_authenticated %}
<p>Привет, {{ user.first_name|default:user.username }} {% if user.last_name %}{{ user.last_name }}{% endif %}!</p>

<h3>Прочитанные книги:</h3>
<ul>
    {% for history in read_books %}
    <li>{{ history.book.title }} <small class="text-muted">({{ history.read_at|date:"d.m.Y H:i" }})</small></li>
    {% empty %}
    <li>Вы пока не читали книги.</li>
    {% endfor %}
</ul>

{% else %}
<div class="alert alert-warning mt-3">
    Вы не вошли в систему. <a href="{% url 'login' %}" class="alert-link">Войдите</a>, чтобы просматривать личный
    кабинет.
</div>
{% endif %}
{% endblock %}
