{% extends 'main/base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Личный кабинет</h2>
    <p>Здравствуйте, {{ user.username }}!</p>
    <form method="post" action="{% url 'logout' %}" class="float-end">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Выйти</button>
    </form>


    <h4 class="mt-4">Взятые книги:</h4>
    <ul class="list-group">
        {% for booking in bookings %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ booking.book.title }} — {{ booking.book.author }}</span>
            <form method="post" action="{% url 'return_book' booking.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-danger">Вернуть</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
