{% extends 'main/base.html' %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title display-5 mb-3">{{ book.title }}</h2>
            <p class="text-muted">Автор: <strong>{{ book.author }}</strong></p>
            <p class="text-muted">Год: <strong>{{ book.year }}</strong></p>
            <p class="text-muted">Категория: <strong>{{ book.category.name }}</strong></p>

            <ul class="list-group mb-3">
                <!--                <li class="list-group-item">-->
                <!--                    Доступно: {{ book.copies_available }} из {{ book.copies_total }}-->
                <!--                </li>-->
                {% if book.description %}
                <li class="list-group-item">
                    <strong>Описание:</strong><br>
                    {{ book.description }}
                </li>
                {% endif %}
            </ul>

            {% if book.cover_image %}
            <div class="text-center mb-3">
                <img src="{{ book.cover_image }}" alt="{{ book.title }}" class="img-fluid rounded shadow-sm">
            </div>
            {% endif %}

            <div class="d-flex flex-wrap">
                {% if user.is_authenticated %}
                {% if not book.is_taken %}

                {% else %}
                <a href="{% url 'return_book' book.id %}" class="btn btn-warning me-2 mb-2">🔄 Вернуть книгу</a>
                {% endif %}
                {% endif %}

                {% if user.role in 'admin librarian' %}
                <a href="{% url 'edit_book' book.id %}" class="btn btn-primary me-2 mb-2">✏ Редактировать</a>
                {% endif %}
                {% if user.role == 'admin' %}
                <a href="{% url 'delete_book' book.id %}" class="btn btn-danger mb-2">🗑 Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
