{% extends 'main/base.html' %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title display-5 mb-3">{{ book.title }}</h2>
            <p class="text-muted">Автор: <strong>{{ book.author }}</strong></p>
            <p class="text-muted">Год: <strong>{{ book.year }}</strong></p>

            <p class="text-muted">Тип литературы: <strong>{{ book.literature_type }}</strong></p>

            {% if book.genres.all %}
            <p class="text-muted">
                Жанры:
                <strong>
                    {% for g in book.genres.all %}
                    {{ g.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </strong>
            </p>
            {% endif %}

            <ul class="list-group mb-3">
                {% if book.description %}
                <li class="list-group-item">
                    <strong>Описание:</strong><br>
                    {{ book.description }}
                </li>
                {% endif %}
            </ul>

            {% if book.cover_image %}
            <div class="text-center mb-3">
                <img src="{{ book.cover_image }}" alt="{{ book.title }}" class="img-fluid rounded shadow-sm">
            </div>
            {% endif %}

            {% if user.is_authenticated and user.role == 'admin' or user.role == 'librarian' %}

            {% if book.udc %}
            <p class="text-muted">УДК: <strong>{{ book.udc }}</strong></p>
            {% endif %}
            {% if book.bbc %}
            <p class="text-muted">ББК: <strong>{{ book.bbc }}</strong></p>
            {% endif %}
            {% if book.marc %}
            <p class="text-muted">MARC: <strong>{{ book.marc }}</strong></p>
            {% endif %}
            {% endif %}


            <div class="d-flex flex-wrap">
                {% if user.is_authenticated %}
                {% if not book.is_taken %}
                <!-- тут можно добавить кнопку "Взять книгу", если логика будет -->
                {% else %}
                <a href="{% url 'return_book' book.id %}" class="btn btn-warning me-2 mb-2">🔄 Вернуть книгу</a>
                {% endif %}
                {% endif %}

                {% if user.role == 'admin' or user.role == 'librarian' %}
                <a href="{% url 'edit_book' book.id %}" class="btn btn-primary me-2 mb-2">✏ Редактировать</a>
                {% endif %}
                {% if user.role == 'admin' %}
                <a href="{% url 'delete_book' book.id %}" class="btn btn-danger mb-2">🗑 Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
